In [79]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import lib


%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [4]:
df = pd.read_excel('default of credit card clients.xls', skiprows=1)

In [5]:
df.head()

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
0,1,20000,2,2,1,24,2,2,-1,-1,...,0,0,0,0,689,0,0,0,0,1
1,2,120000,2,2,2,26,-1,2,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1
2,3,90000,2,2,2,34,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
3,4,50000,2,2,1,37,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,0
4,5,50000,1,2,1,57,-1,0,-1,0,...,20940,19146,19131,2000,36681,10000,9000,689,679,0

In [6]:
df.tail()

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
29995,29996,220000,1,3,1,39,0,0,0,0,...,88004,31237,15980,8500,20000,5003,3047,5000,1000,0
29996,29997,150000,1,3,2,43,-1,-1,-1,-1,...,8979,5190,0,1837,3526,8998,129,0,0,0
29997,29998,30000,1,2,2,37,4,3,2,-1,...,20878,20582,19357,0,0,22000,4200,2000,3100,1
29998,29999,80000,1,3,1,41,1,-1,0,0,...,52774,11855,48944,85900,3409,1178,1926,52964,1804,1
29999,30000,50000,1,2,1,46,0,0,0,0,...,36535,32428,15313,2078,1800,1430,1000,1000,1000,1

In [8]:
df.info() # woop woop, cleeeeean

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 25 columns):
ID                            30000 non-null int64
LIMIT_BAL                     30000 non-null int64
SEX                           30000 non-null int64
EDUCATION                     30000 non-null int64
MARRIAGE                      30000 non-null int64
AGE                           30000 non-null int64
PAY_0                         30000 non-null int64
PAY_2                         30000 non-null int64
PAY_3                         30000 non-null int64
PAY_4                         30000 non-null int64
PAY_5                         30000 non-null int64
PAY_6                         30000 non-null int64
BILL_AMT1                     30000 non-null int64
BILL_AMT2                     30000 non-null int64
BILL_AMT3                     30000 non-null int64
BILL_AMT4                     30000 non-null int64
BILL_AMT5                     30000 non-null int64
BILL_AMT6                     30000 non-null int64
PAY_AMT1                      30000 non-null int64
PAY_AMT2                      30000 non-null int64
PAY_AMT3                      30000 non-null int64
PAY_AMT4                      30000 non-null int64
PAY_AMT5                      30000 non-null int64
PAY_AMT6                      30000 non-null int64
default payment next month    30000 non-null int64
dtypes: int64(25)
memory usage: 5.7 MB

In [9]:
df.describe()

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
count,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,...,30000.000000,30000.000000,30000.000000,30000.000000,3.000000e+04,30000.00000,30000.000000,30000.000000,30000.000000,30000.000000
mean,15000.500000,167484.322667,1.603733,1.853133,1.551867,35.485500,-0.016700,-0.133767,-0.166200,-0.220667,...,43262.948967,40311.400967,38871.760400,5663.580500,5.921163e+03,5225.68150,4826.076867,4799.387633,5215.502567,0.221200
std,8660.398374,129747.661567,0.489129,0.790349,0.521970,9.217904,1.123802,1.197186,1.196868,1.169139,...,64332.856134,60797.155770,59554.107537,16563.280354,2.304087e+04,17606.96147,15666.159744,15278.305679,17777.465775,0.415062
min,1.000000,10000.000000,1.000000,0.000000,0.000000,21.000000,-2.000000,-2.000000,-2.000000,-2.000000,...,-170000.000000,-81334.000000,-339603.000000,0.000000,0.000000e+00,0.00000,0.000000,0.000000,0.000000,0.000000
25%,7500.750000,50000.000000,1.000000,1.000000,1.000000,28.000000,-1.000000,-1.000000,-1.000000,-1.000000,...,2326.750000,1763.000000,1256.000000,1000.000000,8.330000e+02,390.00000,296.000000,252.500000,117.750000,0.000000
50%,15000.500000,140000.000000,2.000000,2.000000,2.000000,34.000000,0.000000,0.000000,0.000000,0.000000,...,19052.000000,18104.500000,17071.000000,2100.000000,2.009000e+03,1800.00000,1500.000000,1500.000000,1500.000000,0.000000
75%,22500.250000,240000.000000,2.000000,2.000000,2.000000,41.000000,0.000000,0.000000,0.000000,0.000000,...,54506.000000,50190.500000,49198.250000,5006.000000,5.000000e+03,4505.00000,4013.250000,4031.500000,4000.000000,0.000000
max,30000.000000,1000000.000000,2.000000,6.000000,3.000000,79.000000,8.000000,8.000000,8.000000,8.000000,...,891586.000000,927171.000000,961664.000000,873552.000000,1.684259e+06,896040.00000,621000.000000,426529.000000,528666.000000,1.000000

In [10]:
df.head()

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
0,1,20000,2,2,1,24,2,2,-1,-1,...,0,0,0,0,689,0,0,0,0,1
1,2,120000,2,2,2,26,-1,2,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1
2,3,90000,2,2,2,34,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
3,4,50000,2,2,1,37,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,0
4,5,50000,1,2,1,57,-1,0,-1,0,...,20940,19146,19131,2000,36681,10000,9000,689,679,0

In [16]:
df.PAY_3.value_counts()

 0    15764
-1     5938
-2     4085
 2     3819
 3      240
 4       76
 7       27
 6       23
 5       21
 1        4
 8        3
Name: PAY_3, dtype: int64

In [17]:
df.columns

Index(['ID', 'LIMIT_BAL', 'SEX', 'EDUCATION', 'MARRIAGE', 'AGE', 'PAY_0',
       'PAY_2', 'PAY_3', 'PAY_4', 'PAY_5', 'PAY_6', 'BILL_AMT1', 'BILL_AMT2',
       'BILL_AMT3', 'BILL_AMT4', 'BILL_AMT5', 'BILL_AMT6', 'PAY_AMT1',
       'PAY_AMT2', 'PAY_AMT3', 'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6',
       'default payment next month'],
      dtype='object')

In [20]:
import matplotlib.pyplot as plt

import seaborn as sns
sns.set(style="ticks")

sns.pairplot(df)
plt.show()

KeyboardInterrupt:

In [27]:
# splitting dataset into two different dfs where -2 for PAY has been replaced with -1 and one where it has been dropped

df_changedminus2 = df.apply(lambda x: x = -1 if x==-2)

SyntaxError: invalid syntax (<ipython-input-27-dc7fd97102f1>, line 3)

In [21]:
default = df.loc[df['default payment next month']==1]

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
0,1,20000,2,2,1,24,2,2,-1,-1,...,0,0,0,0,689,0,0,0,0,1
1,2,120000,2,2,2,26,-1,2,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1
13,14,70000,1,2,2,30,1,2,2,0,...,66782,36137,36894,3200,0,3000,3000,1500,0,1
16,17,20000,1,1,2,24,0,0,2,2,...,18338,17905,19104,3200,0,1500,0,1650,0,1
21,22,120000,2,2,1,39,-1,-1,-1,-1,...,0,632,316,316,316,0,632,316,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29991,29992,210000,1,2,1,34,3,2,2,2,...,2500,2500,2500,0,0,0,0,0,0,1
29994,29995,80000,1,2,2,34,2,2,2,2,...,77519,82607,81158,7000,3500,0,7000,0,4000,1
29997,29998,30000,1,2,2,37,4,3,2,-1,...,20878,20582,19357,0,0,22000,4200,2000,3100,1
29998,29999,80000,1,3,1,41,1,-1,0,0,...,52774,11855,48944,85900,3409,1178,1926,52964,1804,1
29999,30000,50000,1,2,1,46,0,0,0,0,...,36535,32428,15313,2078,1800,1430,1000,1000,1000,1

In [28]:
len(df)

30000

In [47]:
paylst = [0,2,3,4,5,6]

tdf = df

for i in paylst:
    col = 'PAY_'+str(i)
    tdf = tdf.loc[tdf[col]!=-2]
    
len(tdf)

23439

In [48]:
tdf.head()

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
1,2,120000,2,2,2,26,-1,2,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1
2,3,90000,2,2,2,34,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
3,4,50000,2,2,1,37,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,0
4,5,50000,1,2,1,57,-1,0,-1,0,...,20940,19146,19131,2000,36681,10000,9000,689,679,0
5,6,50000,1,1,2,37,0,0,0,0,...,19394,19619,20024,2500,1815,657,1000,1000,800,0

In [49]:
tdf.describe()

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
count,23439.000000,23439.000000,23439.000000,23439.000000,23439.000000,23439.000000,23439.000000,23439.000000,23439.000000,23439.000000,...,23439.000000,23439.000000,23439.000000,23439.000000,2.343900e+04,23439.000000,23439.000000,23439.000000,23439.000000,23439.000000
mean,14944.057468,156369.285379,1.592389,1.887111,1.560689,35.272025,0.179743,0.186953,0.171850,0.131106,...,53489.969111,49950.984385,48003.792525,6080.117283,6.150067e+03,5595.474978,5093.421562,5069.011093,5383.728316,0.229745
std,8614.462516,127456.159858,0.491401,0.774720,0.522447,9.299920,0.983344,1.031809,1.019224,0.985476,...,68234.702862,64470.639768,63176.841184,16871.904369,2.030415e+04,18174.380056,15507.591825,15029.761344,17464.417787,0.420678
min,2.000000,10000.000000,1.000000,0.000000,0.000000,21.000000,-1.000000,-1.000000,-1.000000,-1.000000,...,-170000.000000,-81334.000000,-339603.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000
25%,7520.000000,50000.000000,1.000000,1.000000,1.000000,28.000000,0.000000,0.000000,0.000000,0.000000,...,9952.500000,9255.000000,7698.000000,1410.000000,1.339500e+03,1000.000000,746.500000,716.500000,628.000000,0.000000
50%,14946.000000,120000.000000,2.000000,2.000000,2.000000,34.000000,0.000000,0.000000,0.000000,0.000000,...,28360.000000,26499.000000,25070.000000,2600.000000,2.500000e+03,2000.000000,2000.000000,2000.000000,2000.000000,0.000000
75%,22271.500000,220000.000000,2.000000,2.000000,2.000000,41.000000,0.000000,0.000000,0.000000,0.000000,...,70584.500000,65711.000000,62517.500000,5500.000000,5.200000e+03,5000.000000,4746.000000,4686.000000,4513.500000,0.000000
max,30000.000000,1000000.000000,2.000000,6.000000,3.000000,79.000000,8.000000,8.000000,8.000000,8.000000,...,891586.000000,927171.000000,961664.000000,873552.000000,1.227082e+06,896040.000000,621000.000000,426529.000000,528666.000000,1.000000

In [50]:
tdf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 23439 entries, 1 to 29999
Data columns (total 25 columns):
ID                            23439 non-null int64
LIMIT_BAL                     23439 non-null int64
SEX                           23439 non-null int64
EDUCATION                     23439 non-null int64
MARRIAGE                      23439 non-null int64
AGE                           23439 non-null int64
PAY_0                         23439 non-null int64
PAY_2                         23439 non-null int64
PAY_3                         23439 non-null int64
PAY_4                         23439 non-null int64
PAY_5                         23439 non-null int64
PAY_6                         23439 non-null int64
BILL_AMT1                     23439 non-null int64
BILL_AMT2                     23439 non-null int64
BILL_AMT3                     23439 non-null int64
BILL_AMT4                     23439 non-null int64
BILL_AMT5                     23439 non-null int64
BILL_AMT6                     23439 non-null int64
PAY_AMT1                      23439 non-null int64
PAY_AMT2                      23439 non-null int64
PAY_AMT3                      23439 non-null int64
PAY_AMT4                      23439 non-null int64
PAY_AMT5                      23439 non-null int64
PAY_AMT6                      23439 non-null int64
default payment next month    23439 non-null int64
dtypes: int64(25)
memory usage: 4.6 MB

In [51]:
tdf.MARRIAGE.value_counts()

2    12632
1    10495
3      274
0       38
Name: MARRIAGE, dtype: int64

In [52]:
tdf = tdf.loc[tdf.MARRIAGE!=0]

In [53]:
df.EDUCATION.astype('category')

0        2
1        2
2        2
3        2
4        2
        ..
29995    3
29996    3
29997    2
29998    3
29999    2
Name: EDUCATION, Length: 30000, dtype: category
Categories (7, int64): [0, 1, 2, 3, 4, 5, 6]

In [54]:
dum = pd.get_dummies(df.EDUCATION, drop_first=True, prefix='EDUCATION')

In [55]:
dum

,EDUCATION_1,EDUCATION_2,EDUCATION_3,EDUCATION_4,EDUCATION_5,EDUCATION_6
0,0,1,0,0,0,0
1,0,1,0,0,0,0
2,0,1,0,0,0,0
3,0,1,0,0,0,0
4,0,1,0,0,0,0
...,...,...,...,...,...,...
29995,0,0,1,0,0,0
29996,0,0,1,0,0,0
29997,0,1,0,0,0,0
29998,0,0,1,0,0,0
29999,0,1,0,0,0,0

In [59]:
tdf2 = tdf.join(dum)

In [60]:
tdf2.head()

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month,EDUCATION_1,EDUCATION_2,EDUCATION_3,EDUCATION_4,EDUCATION_5,EDUCATION_6
1,2,120000,2,2,2,26,-1,2,0,0,...,1000,0,2000,1,0,1,0,0,0,0
2,3,90000,2,2,2,34,0,0,0,0,...,1000,1000,5000,0,0,1,0,0,0,0
3,4,50000,2,2,1,37,0,0,0,0,...,1100,1069,1000,0,0,1,0,0,0,0
4,5,50000,1,2,1,57,-1,0,-1,0,...,9000,689,679,0,0,1,0,0,0,0
5,6,50000,1,1,2,37,0,0,0,0,...,1000,1000,800,0,1,0,0,0,0,0

In [61]:
len(tdf)

23401

In [62]:
len(tdf2)

23401

In [64]:
tdf2.drop(columns=['SEX'], inplace=True)

In [65]:
tdf2

,ID,LIMIT_BAL,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,...,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month,EDUCATION_1,EDUCATION_2,EDUCATION_3,EDUCATION_4,EDUCATION_5,EDUCATION_6
1,2,120000,2,2,26,-1,2,0,0,0,...,1000,0,2000,1,0,1,0,0,0,0
2,3,90000,2,2,34,0,0,0,0,0,...,1000,1000,5000,0,0,1,0,0,0,0
3,4,50000,2,1,37,0,0,0,0,0,...,1100,1069,1000,0,0,1,0,0,0,0
4,5,50000,2,1,57,-1,0,-1,0,0,...,9000,689,679,0,0,1,0,0,0,0
5,6,50000,1,2,37,0,0,0,0,0,...,1000,1000,800,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,29996,220000,3,1,39,0,0,0,0,0,...,3047,5000,1000,0,0,0,1,0,0,0
29996,29997,150000,3,2,43,-1,-1,-1,-1,0,...,129,0,0,0,0,0,1,0,0,0
29997,29998,30000,2,2,37,4,3,2,-1,0,...,4200,2000,3100,1,0,1,0,0,0,0
29998,29999,80000,3,1,41,1,-1,0,0,0,...,1926,52964,1804,1,0,0,1,0,0,0
29999,30000,50000,2,1,46,0,0,0,0,0,...,1000,1000,1000,1,0,1,0,0,0,0

In [70]:
len(tdf2)

23401

In [71]:
len(df)

30000

In [87]:
newdf = lib.clean(df, -2, prefix='PAY_', col_ind_list=[0,2,3,4,5,6])

In [88]:
len(newdf)

23439

In [90]:
newdf = lib.dummify(newdf, categ_cols=['SEX', 'MARRIAGE', 'EDUCATION'],dropfirstcond=True)

KeyError: 'SEX'

In [91]:
newdf.columns

Index(['ID', 'LIMIT_BAL', 'AGE', 'PAY_0', 'PAY_2', 'PAY_3', 'PAY_4', 'PAY_5',
       'PAY_6', 'BILL_AMT1', 'BILL_AMT2', 'BILL_AMT3', 'BILL_AMT4',
       'BILL_AMT5', 'BILL_AMT6', 'PAY_AMT1', 'PAY_AMT2', 'PAY_AMT3',
       'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6', 'default payment next month',
       'SEX_2', 'MARRIAGE_1', 'MARRIAGE_2', 'MARRIAGE_3', 'EDUCATION_1',
       'EDUCATION_2', 'EDUCATION_3', 'EDUCATION_4', 'EDUCATION_5',
       'EDUCATION_6'],
      dtype='object')

In [92]:
newdf

,ID,LIMIT_BAL,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,PAY_6,BILL_AMT1,...,SEX_2,MARRIAGE_1,MARRIAGE_2,MARRIAGE_3,EDUCATION_1,EDUCATION_2,EDUCATION_3,EDUCATION_4,EDUCATION_5,EDUCATION_6
1,2,120000,26,-1,2,0,0,0,2,2682,...,1,0,1,0,0,1,0,0,0,0
2,3,90000,34,0,0,0,0,0,0,29239,...,1,0,1,0,0,1,0,0,0,0
3,4,50000,37,0,0,0,0,0,0,46990,...,1,1,0,0,0,1,0,0,0,0
4,5,50000,57,-1,0,-1,0,0,0,8617,...,0,1,0,0,0,1,0,0,0,0
5,6,50000,37,0,0,0,0,0,0,64400,...,0,0,1,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,29996,220000,39,0,0,0,0,0,0,188948,...,0,1,0,0,0,0,1,0,0,0
29996,29997,150000,43,-1,-1,-1,-1,0,0,1683,...,0,0,1,0,0,0,1,0,0,0
29997,29998,30000,37,4,3,2,-1,0,0,3565,...,0,0,1,0,0,1,0,0,0,0
29998,29999,80000,41,1,-1,0,0,0,-1,-1645,...,0,1,0,0,0,0,1,0,0,0
29999,30000,50000,46,0,0,0,0,0,0,47929,...,0,1,0,0,0,1,0,0,0,0

In [ ]:
newdf.to_csv()